<div class="m-dialog" id="frontend-kit-dialog-alert-dialog-info" role="dialog"
  aria-labelledby="frontend-kit-dialog-alert-dialog-info-title">
  <div class="a-box">
    <div class="m-dialog__remark --info"></div>
    <div class="m-dialog__header">
      <div class="dialog_title">
        <i class="a-icon a-button__icon boschicon-bosch-ic-document-edit"></i>
        {{ 'supply.edit-dialog-title' | translate }}
      </div>
      <button type="button" class="a-button a-button--integrated -without-label dialog-close-button"
        data-frok-action="close" aria-label="close dialog" (click)="onClose()">
        <i class="a-icon a-button__icon ui-ic-close" title="close"></i>
      </button>
    </div>
    <hr class="a-divider" />
    <div class="m-dialog__content">
      <div class="m-dialog__body" id="frontend-kit-dialog-alert-dialog-info-description">
        <ng-container dialog-content class="center">
          <form class="info" [formGroup]="demandForm">
            <ng-container>
              <!-- Row id and status -->
              <div class="row">
                <div class="col-sm-4 col-md-2 form-label">
                  <mat-label class="required" for="">{{'add_demand.subId' | translate}}</mat-label>
                </div>
                <div class="col-sm-8 col-md-4">
                  <mat-form-field class="input-material form-content" appearance="legacy">
                    <input id="middle-content" #inputId matInput [readOnly]="true" [value]="editData.subId" [disabled]="true">
                  </mat-form-field>
                </div>

                <div class="col-sm-4 col-md-2 form-label">
                  <mat-label class="required" for="">{{'supply.status' | translate}}</mat-label>
                </div>
                <div class="col-sm-8 col-md-4">
                  <div class="form-content">
                    <eet-common-select [isMultipleChoise]="false" [selectedData]="editData.status"
                      (onSelectedItemChange)="demandForm?.get('status')?.setValue($event);setStatus($event)" [originalData]="statusList"
                      [isShowUnSelect]="false"></eet-common-select>
                  </div>
                </div>
              </div>
              <!-- Row project and group -->
              <div class="row">
                <div class="col-sm-4 col-md-2 form-label">
                  <mat-label class="required" for="">{{'add_demand.project_name' | translate}}</mat-label>
                </div>
                <div class="col-sm-8 col-md-4">
                  <div class="form-content">
                    <eet-common-select [isMultipleChoise]="false" [selectedData]="editData.projectId"
                      (onSelectedItemChange)="demandForm?.get('projectId')?.setValue($event)"
                      [originalData]="addDemandSharedModel?.projectList" [nameKey]="'name'" [valueKey]="'id'"
                      [isShowUnSelect]="false"></eet-common-select>
                  </div>
                </div>

                <div class="col-sm-4 col-md-2 form-label">
                  <mat-label for="">{{'add_demand.assignee' | translate}}</mat-label>
                </div>
                <div class="col-sm-8 col-md-4">
                  <div class="form-content">
                    <eet-common-select [isMultipleChoise]="false" [selectedData]="editData.assignee"
                      (onSelectedItemChange)="demandForm?.get('assignee')?.setValue($event);selectAssignee($event)"
                      [originalData]="addDemandSharedModel?.assigneeList" [nameKey]="'name'" [valueKey]="'name'"
                      [isShowUnSelect]="false"></eet-common-select>
                  </div>
                </div>
              </div>
              <!-- Row skillClusterId, pic -->
              <div class="row">
                <div class="col-sm-4 col-md-2 form-label">
                  <mat-label class="required" for="">{{'add_demand.skill_cluster' | translate}}</mat-label>
                </div>
                <div class="col-sm-8 col-md-4">
                  <div class="form-content">
                    <eet-common-select [isMultipleChoise]="false" [selectedData]="editData.skillClusterId"
                      (onSelectedItemChange)="demandForm?.get('skillClusterId')?.setValue($event)"
                      [originalData]="addDemandSharedModel?.skillClusterList" [nameKey]="'name'" [valueKey]="'id'"
                      [isShowUnSelect]="false"></eet-common-select>
                  </div>
                </div>

                <div class="col-sm-4 col-md-2 form-label">
                  <mat-label for="">{{'add_demand.pic' | translate}}</mat-label>
                </div>
                <div class="col-sm-8 col-md-4">
                  <div class="form-content">
                    <eet-common-select [isMultipleChoise]="false"
                      (onSelectedItemChange)="demandForm?.get('assignNtId')?.setValue($event);setAssignUserName($event)"
                      [originalData]="assigneeUsers" [nameKey]="'name'" [valueKey]="'ntId'"
                      [selectedData]="demandForm?.get('assignNtId').value"
                      [isShowUnSelect]="false"></eet-common-select>
                  </div>
                </div>
              </div>
              <!-- Row skill and supplyType -->
              <div class="row">
                <div class="col-sm-4 col-md-2 form-label">
                  <mat-label class="required" for="">{{'add_demand.skill' | translate}}</mat-label>
                </div>
                <div class="col-sm-8 col-md-4">
                  <mat-form-field class="input-material form-content" appearance="legacy">
                    <input #inputSkill matInput formControlName="skill" required maxLength="120">
                    <mat-hint align="end" style="color: #0009;margin-top: 11px;">{{inputSkill.value?.length || 0}}/120</mat-hint>
                    <mat-error *ngIf="demandForm.controls.skill.hasError('required')" style="margin-top: 11px;">
                      Skills is required
                    </mat-error>
                    <mat-error *ngIf="demandForm.controls.skill.hasError('pattern')" style="margin-top: 11px;">
                      Skills do not have only white space
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-sm-4 col-md-2 form-label">
                  <mat-label for="">{{'add_demand.supply_type' | translate}}</mat-label>
                </div>
                <div class="col-sm-8 col-md-4">
                  <div class="form-content">
                    <eet-common-select [isMultipleChoise]="false" [selectedData]="editData.supplyType"
                      (onSelectedItemChange)="demandForm?.get('supplyType')?.setValue($event)"
                      [originalData]="supplyTypeList" [isShowUnSelect]="false"></eet-common-select>
                      <span *ngIf="isStatusFilled && invalidSupplyType()" style="margin-top: 0;color:#f44336;display: block;font-size: 13px;">
                        Supply Type is required
                      </span>
                      <span *ngIf="!invalidSupplyType() && checkAllowExternal()" style="margin-top: 0;color:#f44336;display: block;font-size: 13px;">
                        Internal is required
                      </span>
                  </div>
                </div>             
              </div>
              <!-- Row level and forecast_date -->
              <div class="row">
                <div class="col-sm-4 col-md-2 form-label">
                  <mat-label class="required" for="">{{'add_demand.level' | translate}}</mat-label>
                </div>
                <div class="col-sm-8 col-md-4">
                  <div class="form-content">
                    <eet-common-select [isMultipleChoise]="false" [selectedData]="editData.level"
                      (onSelectedItemChange)="demandForm?.get('level')?.setValue($event)"
                      [originalData]="addDemandSharedModel?.levelList" [nameKey]="'name'" [valueKey]="'name'"
                      [isShowUnSelect]="false"></eet-common-select>
                  </div>
                </div>

                <div class="col-sm-4 col-md-2 form-label">
                  <mat-label for="">{{'add_demand.forecast_date' | translate}}</mat-label>
                </div>
                <div class="col-sm-8 col-md-4">
                  <div class="form-content date-picker">
                    <input formControlName="forecastDate" class="date-input" matInput [matDatepicker]="forecastDate"
                      placeholder="DD/MM/YYYY" (dateInput)="fillForecastDate($event)" [readonly]="true"
                      (dateChange)="fillForecastDate($event)" [min]="getCreatedDate()">
                    <div class="toggle-calendar">
                      <mat-datepicker-toggle matSuffix [for]="forecastDate">
                      </mat-datepicker-toggle>
                      <mat-datepicker #forecastDate [calendarHeaderComponent]="DATE_PICKER_HEADER"></mat-datepicker>
                    </div>
                  </div>
                </div> 

              </div>
              <!-- Row location and fill date -->
              <div class="row">
                <div class="col-sm-4 col-md-2 form-label">
                  <mat-label class="required" for="">{{'add_demand.location' | translate}}</mat-label>
                </div>
                <div class="col-sm-8 col-md-4">
                  <div class="form-content">
                    <eet-common-select [isMultipleChoise]="false" [selectedData]="editData.location"
                      (onSelectedItemChange)="demandForm?.get('location')?.setValue($event)"
                      [originalData]="addDemandSharedModel?.locationList" 
                      [nameKey]="'name'" [valueKey]="'name'"
                      [isShowUnSelect]="false"></eet-common-select>
                  </div>
                </div>

                <div class="col-sm-4 col-md-2 form-label">
                  <mat-label for="">{{'add_demand.filled_date' | translate}}</mat-label>
                </div>
                <div class="col-sm-8 col-md-4">
                  <div class="form-content date-picker">
                    <input formControlName="filledDate" class="date-input" matInput [matDatepicker]="filledDate"
                      placeholder="DD/MM/YYYY" (dateInput)="fillFilledDate($event)" [readonly]="true"
                      (dateChange)="fillFilledDate($event)" [min]="getCreatedDate()">
                    <div class="toggle-calendar">
                      <mat-datepicker-toggle matSuffix [for]="filledDate">
                      </mat-datepicker-toggle>
                      <mat-datepicker #filledDate [calendarHeaderComponent]="DATE_PICKER_HEADER"></mat-datepicker>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Row Expected date and Candidate -->
              <div class="row">
                <div class="col-sm-4 col-md-2 form-label">
                  <mat-label class="required" for="">{{'add_demand.expected_date' | translate}}</mat-label>
                </div>
                <div class="col-sm-8 col-md-4">
                  <div class="form-content date-picker">
                    <input formControlName="expectedDate" class="date-input" matInput [matDatepicker]="expectedDate"
                      placeholder="DD/MM/YYYY" (dateInput)="fillExpectedDate($event)" [readonly]="true"
                      (dateChange)="fillExpectedDate($event)" [min]="getCreatedDate()">
                    <div class="toggle-calendar">
                      <mat-datepicker-toggle matSuffix [for]="expectedDate">
                      </mat-datepicker-toggle>
                      <mat-datepicker #expectedDate [calendarHeaderComponent]="DATE_PICKER_HEADER"></mat-datepicker>
                    </div>
                  </div>
                </div>

                <div class="col-sm-4 col-md-2 form-label">
                  <mat-label for="">{{'add_demand.candidate_name' | translate}}</mat-label>
                </div>
                <div class="col-sm-8 col-md-4">
                  <mat-form-field class="input-material" appearance="legacy">
                    <input #inputCandidateName matInput formControlName="candidateName" maxLength="120">
                    <mat-hint align="end" style="color: #0009; margin-top: 11px;">{{inputCandidateName.value?.length || 0}}/120</mat-hint>
                  </mat-form-field>
                  <span *ngIf="isStatusFilled && invalidCandidate()" style="margin-top: 0;color:#f44336;display: block;font-size: 13px;">
                    Candidate Name is required
                  </span>
                </div>
              </div>


              <!-- Row Allow External and note-->
              <div class="row">
                <div class="col-sm-4 col-md-2 form-label">
                  <mat-label for="cb_allow_external">{{'add_demand.allow_external' | translate}}</mat-label>
                </div>
                <div class="col-sm-8 col-md-4">                         
                  <mat-checkbox type="checkbox" name="checkbox" (change)="setAllowExternal($event.checked)"
                    aria-label="allow external" [checked]="demandForm?.get('allowExternal')?.value" class="a-checkbox">                    
                  </mat-checkbox>
                </div>

                <div class="col-sm-4 col-md-2 form-label">
                  <mat-label for="">{{'add_demand.note' | translate}}</mat-label>
                </div>
                <div class="col-sm-8 col-md-4">
                  <mat-form-field class="input-material form-content" appearance="legacy">
                    <input #inputNote matInput formControlName="note" maxLength="120">
                    <mat-hint align="end" style="color: #0009;margin-top: 11px;">{{inputNote.value?.length || 0}}/120</mat-hint>              
                  </mat-form-field>
                </div>
              </div>

            </ng-container>
          </form>
        </ng-container>
      </div>
      <div class="m-dialog__actions">
        <ng-container dialog-action>
          <button type="button" class="a-button a-button--primary" (click)="editDemand()"
            [disabled]="demandForm.invalid || (invalidCandidate() && isStatusFilled) || (isStatusFilled && invalidSupplyType()) || !editData.canUpdate || checkAllowExternal()">
            <i class="a-icon boschicon-bosch-ic-document-edit" title="Save"></i>
            {{'personal_information.save' | translate}}
          </button>
          <button type="button" class="a-button a-button--primary" mat-dialog-close>
            <i class="a-icon a-button__icon ui-ic-close" title="Cancel"></i>
            <span class="a-button__label">{{'add_demand.cancel' | translate}}</span>
          </button>
        </ng-container>
      </div>
    </div>
  </div>
</div>