<form [formGroup]="form">

  <div class="row">
    <div class="col-md-2 form-label">
      <mat-label for="">{{'personal_project_info.name' | translate}}</mat-label>
    </div>
    <div class="col-md-4">
      <input class="form-content" type="text" formControlName="name">
    </div>
    <div class="col-md-2 form-label">
      <mat-label for="">Role</mat-label>
    </div>
    <div class="col-md-4">
      <mat-select class="form-content" formControlName="role_id">
        <mat-option *ngFor=" let value of roles" [value]="value.id">{{value.name}} </mat-option>
      </mat-select>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 form-label">
      <mat-label for="">{{'personal_project_info.start_date' | translate}}</mat-label>
    </div>
    <div class="col-md-4">
      <div class="form-content date-picker">
        <input formControlName="start_date" class="date-input" matInput [matDatepicker]="startDate">
        <div class="toggle-calendar">
          <mat-datepicker-toggle matSuffix [for]="startDate">
          </mat-datepicker-toggle>
          <mat-datepicker #startDate></mat-datepicker>
        </div>
      </div>
    </div>
    <div class="col-md-2 form-label">
      <mat-label for="">{{'personal_project_info.tasks' | translate}}</mat-label>
    </div>
    <div class="col-md-4">
      <eet-common-chip class="form-content" typeChip="object" [selectedChipList]="taskFormControl?.value || []"
        [isDisabled]="!taskFormControl?.disabled" [isAddOnBlur]="true"
        (selectedChipChange)="onTaskListChange($event)"></eet-common-chip>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 form-label">
      <mat-label for="">{{'personal_project_info.end_date' | translate}}</mat-label>
    </div>
    <div class="col-md-4">
      <div class="form-content date-picker">
        <input formControlName="end_date" class="date-input" matInput [matDatepicker]="endDate">
        <div class="toggle-calendar">
          <mat-datepicker-toggle matSuffix [for]="endDate">
          </mat-datepicker-toggle>
          <mat-datepicker #endDate></mat-datepicker>
        </div>
      </div>
    </div>
    <div class="col-md-2 form-label">
      <mat-label for="">{{'personal_project_info.additional_tasks' | translate}}</mat-label>
    </div>
    <div class="col-md-4">
      <eet-common-chip class="form-content" [selectedChipList]="additionalTaskFormControl?.value || []"
        [isDisabled]="!additionalTaskFormControl?.disabled" [isAddOnBlur]="true"
        (selectedChipChange)="onAdditionalTaskListChange($event)"></eet-common-chip>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 form-label">
      <mat-label for="">{{'personal_project_info.pm_name' | translate}}</mat-label>
    </div>
    <div class="col-md-4">
      <input class="form-content" type="text" formControlName="pm_name">
    </div>
    <div class="col-md-2 form-label">
      <mat-label for="">{{'personal_project_info.status' | translate}}</mat-label>
    </div>
    <div class="col-md-4">
      <input class="form-content" type="text" formControlName="status">
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 form-label">
      <mat-label for="">{{'personal_project_info.size' | translate}}</mat-label>
    </div>
    <div class="col-md-4">
      <input class="form-content" type="text" formControlName="team_size">
    </div>
    <div class="col-md-2 form-label">
      <mat-label for="">{{'personal_project_info.type' | translate}}</mat-label>
    </div>
    <div class="col-md-4">
      <input class="form-content" type="text" formControlName="project_type">
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 form-label">
      <mat-label for="">{{'personal_project_info.challenge' | translate}}</mat-label>
    </div>
    <div class="col-md-4">
      <input class="form-content" type="text" formControlName="challenge">
    </div>
    <div class="col-md-2 form-label">
      <mat-label for="">{{'personal_project_info.objective' | translate}}</mat-label>
    </div>
    <div class="col-md-4">
      <input class="form-content" type="text" formControlName="objective">
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 form-label">
      <mat-label for="">{{'personal_project_info.gb' | translate}}</mat-label>
    </div>
    <div class="col-md-4">
      <mat-select class="form-content" formControlName="gb_unit">
        <mat-option *ngFor="let value of gb" [value]="value">
          {{value}}
        </mat-option>
      </mat-select>
    </div>
    <div class="col-md-2 form-label">
      <mat-label for="">{{'personal_project_info.link' | translate}}</mat-label>
    </div>
    <div class="col-md-4">
      <input class="form-content" type="text" formControlName="referencelink">
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 form-label" style="margin-bottom: 5px;">
      <mat-label for="">{{'personal_project_info.technology_used' | translate}}</mat-label>
    </div>
    <div class="col-md-12">
      <input class="form-content" type="text" formControlName="technology_used">
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 form-label" style="margin-bottom: 5px;">
      <mat-label for="">{{'personal_project_info.description' | translate}}</mat-label>
    </div>
    <div class="col-md-12">
      <textarea rows="5" formControlName="description" class="form-content">
                   </textarea>
    </div>
  </div>
</form>