<div class="grid-wrapper">
    <div class="grid-item grid-item-left" (click)="nagivegateToTechComp('tech')">
        <div class="content-contain">
            <div class="content-item content-item-left">Technical</div>
            <div class="content-item content-item-left">competencies</div>
            <div class="content-underline content-underline-left"></div>
            <div class="topline-contain topline-left">
                <div></div> 
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <div class="grid-item grid-item-right" (click)="nagivegateToTechComp('behav')">
        <div class="content-contain">
            <div class="content-item content-item-right">Behavioral</div>
            <div class="content-item content-item-right">competencies</div>
            <div class="content-underline content-underline-right"></div>
        </div>
        <div class="topline-contain topline-right">
            <div></div> 
            <div></div>
            <div></div>
        </div>
    </div>
</div>

