div.full-space{
  width: 35rem;

}


span{
  font-weight: bold;
}

.btn{
  margin-right: 5px;
}


p.text{
  text-align: center;
  text-indent: 1rem;
}

mat-divider.seprator{
  padding-bottom: 1.5rem;
}






