<div class="full-space">
  <div class="title-wrapper">
    <p class="title"></p>
    <mat-form-field class="search-box">
      <mat-label>{{ "manage_associate.search" | translate }}</mat-label>
      <input matInput (keyup)="onSearch($event)" #input />
      <button type="submit" class="a-text-field__icon-search" matSuffix (click)="onSearch($event)">
        <i class="a-icon ui-ic-search" matTooltip="{{ 'manage_request.main.search_tooltip' | translate }}"></i>
      </button>
    </mat-form-field>
  </div>

  <table mat-table [dataSource]="dataSource" class="newRequestTable table-common" matSort>
    <ng-container matColumnDef="number">
      <th mat-header-cell *matHeaderCellDef class="table-header">
        {{ "manage_request.main.number" | translate }}
      </th>
      <td mat-cell *matCellDef="let element; let i = index">
        {{ paginator.pageIndex * paginator.pageSize + i + 1 }}
      </td>
    </ng-container>

    <ng-container matColumnDef="requester">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header"
        sortActionDescription="Sort by requester">
        {{ "manage_request.main.requester" | translate }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.requester }}</td>
    </ng-container>

    <ng-container matColumnDef="created_date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header"
        sortActionDescription="Sort by created_date">
        {{ "manage_request.main.req_date" | translate }}
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.created_date | date : "dd/MM/yyyy HH:mm:ss" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="updated_date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header"
        sortActionDescription="Sort by updated_date">
        {{ "manage_request.main.mod_date" | translate }}
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.updated_date | date : "dd/MM/yyyy HH:mm:ss" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header" sortActionDescription="Sort by status">
        {{ "manage_request.main.status" | translate }}
      </th>
      <td mat-cell *matCellDef="let element" class="status">
        {{ element.statusMessage }}
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef class="table-header">
        {{ "manage_request.main.detail" | translate }}
      </th>
      <td mat-cell *matCellDef="let element" class="table-action">
        {{ element.action }}
        <button mat-icon-button (click)="onView(element.id)">
          <i class="a-icon boschicon-bosch-ic-watch-on" matTooltipClass="matTooltip"
            matTooltip="{{ 'manage_request.message.tooltip_view_detail' | translate }}"></i>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="selection.toggle(row)"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="6">
        {{ "manage_request.message.error_filter" | translate }}
      </td>
    </tr>
  </table>

  <div fxLayout="row" fxLayoutAlign="center none">
    <mat-paginator [pageSizeOptions]="pageOption" showFirstLastButtons></mat-paginator>
  </div>
</div>