.SkillCompoment {
  padding-left: 20px;
  padding-right: 20px;
  // border-style: solid;
  // border-color: black;
}
.SkillEvaluateandSreach {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
}
// .Search {
//   border-radius: 20px;
//   padding: 12px;
//   background-color: whitesmoke;
// }
.tableskill {
  width: 100%;
  padding-top: 30px;
  padding-left: 10px;
}

.search-box {
  margin: 0;
  padding: 0;
}

// .mat-form-field {
//   font-size: 14px;
//   width: 100%;
// }
.search-bar {
  @mixin transition {
    transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s; /* Safari & Chrome */
    -moz-transition: background-color 0.3s; /* Mozilla */
    -ms-transition: background-color 0.3s; /* Internet Exploder */
    -o-transition: background-color 0.3s; /* Opera */
  }
  display: flex;
  align-items: baseline;
  width: 200px;
  min-width: 200px;
  max-width: 200px;
  padding-top: 6px;
  margin-right: 1em;
  background-color: #efeff0;
  //background-color: ;
  border-radius: 24px;
  border: 1px solid #bfc0c2;
  mat-icon {
    border-width: 0 0 1px 0;
    border-color: #efeff0;
    border-style: solid;
    border-radius: 16px 0 0 16px;
    background-color: #efeff0;
  }
  input {
    padding: 0;
    color: #000000;
    background-color: #efeff0;
    box-shadow: none;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    caret-color: #000000;
    cursor: auto;
    font-family: "Bosch-Sans";
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    border-width: 0px 0px 1px 0px;
    border-color: #efeff0;
    border-style: solid;
    border-radius: 0px 16px 16px 0px;
    padding-left: 4px;
    padding-right: 2px;
    @include transition;
  }
}

.skill-level-list {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;

  .m-popover {
    position: absolute !important;
    top: 0;
    left: 20%;
    transform: translate(0, 0);
  }
}


::ng-deep .menu-level-list {
  min-width: 350px;
  max-width: 600px;
  background-color: var(--bosch-green-95);
}

::ng-deep .menu-level-list .mat-menu-item {
  touch-action: none;
  cursor: unset;
}

::ng-deep .menu-level-list .mat-menu-item:hover {
  background-color: transparent !important;
  color: #2c2c2c !important;
}

.checkboxes {
  display: flex;
  flex-direction: row;
}

.box-search {
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
  align-items: center; 
  justify-content: center;
  gap: 10px;
}

.hidden {
  visibility: hidden;
}

.toggle {
  margin-right: auto;
}

@media only screen and (max-width: 1550px) {
  eet-toggle{
    display: block;
    height: 40px;
  }
}